extends ../../Layout/default.pug
include ../../Mixin/image-preview-single.pug
include ../../Mixin/alert.pug
include ../../Mixin/select-tree.pug
block main
  if(role.permissions.includes("products_edit"))
    +alert-error(3000)
    h1(class="mb-4") Tạo Mới Sản Phẩm
    form(
      action=`${prefixAdmin}/products/edit/${record.id}?_method=PATCH`
      id="form-edit-product"
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          value=record.title
        )
      div(class="form-group")
        label(for="product_category_id") Danh mục
        select(
          name="product_category_id"
          id="product_category_id"
          class="form-control"
        )
          option(value="") -- Chọn danh mục --
          if(recordTree)
            +select-tree(recordTree,1,record.product_category_id)
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="featured1"
          name="featured"
          value="1"
          checked=(record.featured == "1")
        )
        label(for="featured1" class="form-check-label") Nổi bật
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="featured0"
          name="featured"
          value="0"
          checked=(record.featured == "0")
        )
        label(for="featured0" class="form-check-label") Không
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
          tinymce
          class="form-control"
          id="desc"
          name="description"
          rows="5"
        ) #{record.description}
      div(class="form-group")
        label(for="desc") Nội Dung
        textarea(
          tinymce
          class="form-control"
          id="content"
          name="content"
          rows="5"
        ) #{record.content}
      div(class="form-group")
        label(for="price") Giá
        input(
          type="number"
          class="form-control"
          id="price"
          name="price"
          value=record.price
        
        )
      div(class="form-group")
        label(for="discount") % Giảm giá
        input(
          type="number"
          class="form-control"
          id="discount"
          name="discountPercentage"
          value=record.discountPercentage
        
        )
      div(class="form-group")
        label(for="stock") Số lượng
        input(
          type="number"
          class="form-control"
          id="stock"
          name="stock"
          value=record.stock
          min="0"
        )
      div(
        class="form-group"
      )
        label(for="thumbnail") Ảnh
        +image-preview-single(record.thumbnail)
      
      div(class="form-group")
        label(for="position") Vị trí
        input(
          type="number"
          class="form-control"
          id="position"
          name="position"
          placeholder="Tự động tăng"
          min="1"
          value =record.position
        )
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked = record.status === "active"
        )
        label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
          checked = record.status === "inactive"
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Sửa Sản Phẩm

    script(src="/Admin/Js/products.js") 