mixin image-preview-single(src="",forOk="thumbnail")
    input(
        type ="file"
        class="form-control-file"
        id=forOk
        name=forOk
        accept="image/*"
        upload-image-input
      )
    div(class="box-image-preview")
      img(class="image-preview" src=src)