extends ../../Layout/default.pug
include ../../Mixin/box-head.pug

block main
  .container.mt-80.mb-5
    .row
      .col-12
        +box-head("Chat Nhóm")

    .row
      .col-12
        .chat(my-id=userClient.id)
          .inner-body
            each chat in chats 
                div(class = `${userClient.id !== chat.user_id ? `inner-incoming` : `inner-outgoing`}`)
                    if(userClient.id !== chat.user_id)
                        div(class= `inner-name`) #{chat.infoUser.fullName}
                    div(class= `inner-content`)
                        | #{chat.content}
            div(class="inner-list-typing")             
          .inner-foot
            form(
              class="inner-form"
              action=""
            )
              textarea(
                type="text"
                placeholder="Aa"
                name="content"
              )
              span(class="button-icon btn -btn-light mx-2") 
                i(class="fa-regular fa-face-smile")
              button
                i.fa-solid.fa-paper-plane
    div(class="tooltip" role="tooltip")
      emoji-picker
     
    script(type="module" src="/Client/Components/chat.js")
    script(type="module" src="/Client/Components/textarea.js")
    script(type="module" src="/Client/SocketFrontEnd/chat.socket.js")
    

        